@import 'mixins';
@import 'colors';
@import 'alignments';
@import 'typography';
@import 'components';

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.result-grid {
  height: calc(100vh - 150px);
  overflow: auto;

  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width:100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  width:60vw;
  height:80vh;
  background: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  .modal-body {
    overflow:auto;
    padding: 0 1.5rem 1.5rem;
    height: calc(80vh - 60px);
  }
}